

  body {
    background-image: url(https://i.pinimg.com/originals/d1/47/34/d14734d0e43afd9602feea2ce73d9312.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.content {
    margin-right: 38em;
    background-color: whitesmoke;
    opacity: 89%;
    min-width: 450px;
}

  .form-group {
      padding: 5px;
    
  }

header {
    background-color: whitesmoke;
    opacity: 89%;
}
  
h1{
    padding-top: 10px;
}