

  body {
    background-image: url(noVacancy.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-attachment: fixed;
  
}
  .back {
    background-color: transparent;

  }
  .div-center {
    width: 500px;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 5;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
  }
  
  div.content {
    display: table-cell;
    vertical-align: middle;
  }