

  body {
    background-image: url(https://i.pinimg.com/originals/d1/47/34/d14734d0e43afd9602feea2ce73d9312.jpg);
    background-repeat: no-repeat;
    background-size: contain;

  
}


  
.content {
    margin-left: 30em;
}

  .form-group {
      padding: 5px;
  }


  